@model IList<ConcordMfg.PremierSeniorSolutions.WebService.BusinessEntities.FacilityAudit>
@if (Model.Count == 0)
{
    <p>@Html.ActionLink("Create New Listing", "Create", "Listings", null, new { @class = "btnPattern submit leftNoPadding" })</p>
}
else
{
<ul class="searchResultsHeading">
	<li>
		<span class="listingName">Listing</span>
							
		<span class="listingDate">Date Added</span>
	</li>
</ul>
<ul class="searchResults">
    @foreach (var listing in Model)
    {
        <li>
		    <span class="listingName">@listing.FacilityName</span>
		    <span class="listingDate">@listing.DateModified.ToLongDateString()</span>
		    <span class="listingView">
                @Html.ActionLink("See", "See", "Listings", new { facilityGuid = listing.FacilityGuid }, new { @class = "btnPattern submit leftNoPadding" })
            </span>
	    </li>
    }
</ul> 
}