@{
    ViewBag.Title = "PSS | Find the right senior care home for you with Premier Senior Solutions";
}

<div id="coupleBanner"></div>
<div id="homepageContent"><br><br>
<div class="contactformcontent">
<h2>Premier Senior Solutions</h2>
<form class="form" action="">
  <h3>Get Your Business Noticed Today!</h3>
  <div>
    Welcome to a new way to market your Elder Care Company. 
    Through our vast networks bring a high volume of potential customers to your listing. 
    With Premier there are no upfront costs or annual fees, you only pay only $.99 each time a searchers clicks on your listing. 
    All searches are filtered to match your specific criteria ensuring you receive only the best results.
  </div>
  <div>
    <ul style="font-weight: bold; list-style-type: square; left: 50px; padding-left: 50px;">
        <li>Save money,  better results</li>
        <li>Only $.99 per click</li>
        <li>30 day FREE trial</li>
      </ul>
  </div>
  <div>
    With premier you can take full advantage of online marketing even if you don’t have a website. 
    Your listing page allows you to upload photos, contact information and complete details about your company.
  </div>
  <div>
    When listing with premier it’s your marketing campaign. 
    You have complete control of your account at all times allowing you the ability to edit your listing or 
    even pause your listing when not needed as well as the tolls to tracks your results. 
    With our 30 day FREE trial there is no risk, so give it a try and start reaching new customers today!
  </div>
  <br /><br />
  <div style="text-align: center;">
    <a href="#" class="button round">Click here to start your 30 day free trial</a>
  </div>  
</form>
</div>
</div>
