@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<title></title>
<script type='text/javascript'>
	function notify() {
		window.opener.google.identitytoolkit.easyrp.util.notifyWidget('@ViewBag.FederatedResponse');
		window.opener.location.href = '@ViewBag.GitRedirectUrl';
		window.close();
	}
</script>
</head>
<body onload='notify();'>
</body>
</html>