<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <connectionStrings>
    <remove name="ApplicationServices" xdt:Transform="InsertBefore(/configuration/connectionStrings/add[@name='ApplicationServices'])" />
    <remove name="PSS2012ConnectionString" xdt:Transform="InsertBefore(/configuration/connectionStrings/add[@name='PSS2012ConnectionString'])"/>

    <add name="ApplicationServices"
      connectionString="Data Source=tcp:s07.winhost.com;Initial Catalog=DB_43182_devaspnetpss;User ID=DB_43182_devaspnetpss_user;Password=ilovegmail;Integrated Security=False;"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="PSS2012ConnectionString"
			connectionString="Data Source=tcp:s07.winhost.com;Initial Catalog=DB_43182_devpss2012;User ID=DB_43182_devpss2012_user;Password=ilovegmail;Integrated Security=False;"
			providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="ClientValidationEnabled" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="UnobtrusiveJavaScriptEnabled" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    
    <remove key="GitCallbackUrl" xdt:Transform="InsertBefore(/configuration/appSettings/add[@key='GoogleApiKey'])" />
    
    <add key="GoogleApiKey" value="AIzaSyCau3F2QtppSP9yLFsKHmBlW8f3c426f7w" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GitCallbackUrl" value="http://premierseniorsolutions.com/dev/Account/Callback" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="CachingEnabled" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="true" />
    <add key="CacheDuration" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="5" />
    
    <add key="UploadHandlerRoot" xdt:Transform="Insert" value="/dev"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAll" />
    <caching xdt:Transform="RemoveAll" />
    <membership xdt:Transform="RemoveAll"></membership>
    <profile xdt:Transform="RemoveAll"></profile>
    <roleManager xdt:Transform="RemoveAll"></roleManager>
    <pages xdt:Transform="RemoveAll"></pages>    
  </system.web>
  <authentication>
    <forms loginUrl="/Account/LogOn" />
  </authentication>
  <system.webServer>
    <validation xdt:Transform="RemoveAll"/>
    <modules xdt:Transform="RemoveAll"/>
  </system.webServer>
  <runtime xdt:Transform="RemoveAll"></runtime>
</configuration>