<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeWeb">
      <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb" />
      <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb" />
    </sectionGroup>
  </configSections>
  <compositeWeb>
    <modules>
      <module name="Facility" assemblyName="Facility" virtualPath="~/Facility" />
    </modules>
    <authorization>
      <!--
				Add your own view-rule mappings here:
				e.g.:
				<rule Url="~/Facility/Default.aspx" Rule="AllowAccessFacilityDefaultView" />
			-->
    </authorization>
  </compositeWeb>
  <appSettings />
  <connectionStrings />
  <system.web />
</configuration>